.showcase {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  justify-content: center;
  scroll-behavior: smooth;

  border: 2px solid #212529;
}

.showcase h1 {
  font-weight: 100;
  font-style: italic;
  padding: 10px 10px;
  margin: 2em 24% 0%;
  background-color: #212529;
  color: #f8f9fa;
  border: 2px solid #212529;
  border-radius: 4px;
}

.showcase h2 {
  font-weight: 100;
  font-style: italic;
  padding: 10px 10px;
  margin: 0.1em 24% 1em;
  background-color: #f8f9fa;
  color: #212529;
  border: 2px solid #212529;
  border-radius: 4px;
}

.showcase p {
  font-weight: 100;
  font-style: italic;
  padding: 10px 10px;
  margin: 1em 16% 6em;
  background-color: #f8f9fa;
  color: #212529;
  border: 2px solid #212529;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.showcase img {
  width: 60%;
  border: 1px solid #212529;
  border-radius: 4px;
  max-width: 40%;
}
