@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,700;1,900&family=Silkscreen&display=swap");

/* Page layout and wrappers */
html {
  background-color: rgba(249, 253, 250, 0.939);
  font-family: "Roboto", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.horseshoe {
  max-width: 20rem;
  padding-top: 10vh;
  overflow: scroll;
  position: fixed;
}

.landingWrapper {
  display: flex;
  justify-content: center;
}

.taskr,
.steakflipper {
  width: 40%;
}
