@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,700;1,900&family=Silkscreen&display=swap");

.App {
  /* text-align: center; */
}

html {
  background-color: #adb5bd;
  font-family: "Roboto", sans-serif;
}

/* REACT STUFF ABOVE CONSIDER BEFORE DELETING */

* {
  font-family: "Roboto", sans-serif;

  margin: 0;
  padding: 0;
}

.sideBar {
  background-color: #212529;
  bottom: 0%;
  right: auto;
  top: 0%;
  position: fixed;
  width: 8rem;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-between;
}

ul,
li {
  list-style: none;
}

li {
  margin: 10px auto;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  background-color: #6c757d;
  color: #f8f9fa;
  border-radius: 2px;
}

nav {
  position: relative;
  bottom: 50%;
}

h2 {
  font-size: 1rem;
}

header {
  margin-top: 10px;
  display: block;
}

.profileIcon {
  border-radius: 100%;
  max-width: 40%;
}

.codePageWrapper {
  color: #212529;
  display: grid;
  grid-template-areas:
    "hey . . "
    "im im . "
    "Gl Gl . . . ";
}

.content {
  margin-left: 8rem;
}

.s1 {
  grid-area: hey;
  color: black;
  font-size: 2rem;
  left: 0;
}
.s2 {
  grid-area: im;
  color: white;
  font-size: 4rem;
}
.s3 {
  grid-area: Glen;
  color: black;
  font-size: 8rem;
  font-weight: 900;
  font-style: italic;
  padding: 3rem;
}
